    <div class="show-header">
     <div class="show-top">
            <%= image_tag "#{@movie.image}", alt: "#{@movie.title}", class: "" %>
        </div>

        <div class="show-info">
            <h3> <%=  "#{@movie.title}" %></h3>
            <h3> <%= "Length: #{@movie.length}" %></h3>

            <h3>Genres</h3>
            <% @movie.genres.each do |g| %>
                <h3> <%= "#{g.name}" %> </h3> 
            <% end %>
        </div>


    </div>
    
    <h2 class="title">Showtimes</h2> 
    <div class="show-container">
        <% @movie.showtimes.each do |s| %>
            <div class="showtime">
            <%= link_to showtime_path(s) do %>
                <h3> <%= "#{s.format_date}" %> </h3> 
                <h3> <%= "#{s.format_time}" %> </h3> 
                <h3> <%= "Available Seats:  #{s.seats_available}" %> </h3> 
                <h3> <%= "Seat Cost:  $#{s.seat_cost}.00" %> </h3> 
                <% end %>
            </div>
        <% end %>
    </div>

    <h2 class="title">Purchased Orders</h2>
    <div class="show-container">
    <% @movie_orders.map do |order| %>
        <div class="showtime">
            <h3> <%= "Order Id:  #{order.id}" %> </h3> 
            <h3> <%= "Showtime Id: #{order.showtime_id}" %> </h3> 
            <h3> <%= "Credit Card Number: #{order.credit_card_number}" %> </h3> 
            <h3> <%= "Expiration Date: #{order.expiration_date}" %> </h3>
            <h3> <%= "Total Cost: $#{order.total_cost}.00" %> </h3> 
            <h3> <%= "Total Seats: #{order.total_seats_selected}" %> </h3>
        </div>
    <% end %>
</div>


