<div class="container-form">

<h2>Sign Up</h2>

<%=form_for @user do |f| %>

 <%= render partial: 'layouts/errors', locals: {object: @user} %>
 
  <div class="row"> 
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="row"> 
    <%= f.label :email%>
    <%= f.email_field :email %>
  </div>

  <div class="row"> 
    <%= f.label :password%>
    <%= f.password_field :password %>
  </div>

  <%= f.submit "Sign In" %>
<% end %>


<div>