<%=form_for @order do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @order} %>
  

 <%= f.hidden_field :showtime_id, :value => @order.showtime_id %>
 
 <div class="row"> 
  <%= f.label :total_seats_selected %>
  <%= f.number_field :total_seats_selected %>
 </div>

 <div class="row"> 
  <%= f.label :credit_card_number %>
  <%= f.text_field :credit_card_number %>
 </div>
 
 <div class="row"> 
  <%= f.label :expiration_date %>
  <%= f.date_field :expiration_date %>
 </div>
 
  <%= submit_tag "Submit" %>
<% end %>

</div>