<div class="container-form">

<h2>Order Tickets</h2>

<h4> <%= "#{@showtime.format_date}" %> </h4> 
<h4> <%= "#{@showtime.format_time}" %> </h4> 
<h4> <%= "Seats Available: #{@showtime.seats_available}" %> </h4> 
<h4> <%= "Seat Cost: $ #{@showtime.seat_cost}.00" %> </h4> 


<%=form_for @order do |f| %>
<%= f.hidden_field :showtime_id, :value => @showtime.id %>
 <%= render partial: 'layouts/errors', locals: {object: @order} %>
  <%= f.label :total_seats_selected %>
  <%= f.text_field :total_seats_selected %>
  <%= submit_tag "Submit" %>
<% end %>

</div>


