<!DOCTYPE html>
<html>
  <head>
    <title>RailsMovieApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <div class="wrapper">
  <div class="topnav" id="myTopnav">
         <a href="<%=root_path%>" class="active">Home</a>
         <% if !logged_in? %>
         <a href="<%=signup_path%>">Signup</a>
         <% end %>
         <% if !logged_in? %>
         <a href="<%=login_path%>">Login</a>
         <% end %>
         <% if logged_in? %>
         <a href="<%=orders_path%>">Customer Orders</a>
         <% end %>
         <% if logged_in? %>
         <a href="<%= all_orders_path %>">Order Summary</a>
         <% end %>
         <% if current_user %>
         <a href="<%=logout_path%>">Sign out</a>
         <% end %>
         
         <a href="javascript:void(0);" class="icon" onclick="myFunction()">
           <i class="fa fa-bars"></i>
         </a>
       </div>
    <br>
    <br>
  

      <% if flash[:message] %>
      <div class="message"><%= flash[:message] %></div>
      <br>
      <% end %>
      
    <%= yield %>
    </div>

    <script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>
  </body>
</html>
